body {
    font-family: "Inter", sans-serif;
    background: #0e1823;
    color: #fbfbfb;;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

/* ========HEADER========= */

.logo {
    font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.03em;
        color: #1b414b;
}

.header-box {
    border: 1px solid #fbfbfb;
        border-radius: 8px;
        width: 1240px;
        height: 48px;
        background: #fbfbfb;
}

.nav-list {
    font-family: var(--font-family);
    font-weight: 400;
        font-size: 9px;
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        color: #fbfbfb;

        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 4px;
        width: 281px;
            height: 40px;
}

.address-list {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 8px;
        width: 88px;
            height: 24px;
}

/* ========HEADER========= */



.section-first {
    background-image: url("../images/image\ 1.jpg");

        
}