body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

ul, ol {
   list-style-type: none; 
}

button {
    cursor: pointer;
}



/* #region Header*/

.header-page {

}


.nav-page {

}


.logo {
font-family: var(--font-family);
     font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}



.nav-list {

}



.nav-item {

}


.nav-item-link {

}


.header-addres {

}

.header-addres-list {

}

.header-addres-list-item {

}


.header-addres-list-item-link {

}

/* #endregion */