body {
    font-family: "Inter", sans-serif;

    background-color: #0e1823;
    color: #fbfbfb;

}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

h1 h2 h3 h4 h5 h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* #region Header */

.container-header {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 10;
    border-radius: 8px;
    border: 1px solid #fbfbfb;
        max-width: 335px;
        margin-right: auto;
        margin-left: auto;
        background-color: #fbfbfb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
}

.logo {
    font-family: var(--font-family);
       font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.03em;
        color: #1b414b;
}

.nav-page {
    display: none;
}

.header-addres-list {
    display: none;
}

.btn-mobile {
    border: none;
    background-color: transparent;
    padding: 0;
}

.mobile-icon-btn {
    stroke: #1b414b;
}


@media screen and (min-width: 768px) {
.container-header {
    max-width: 704px;
    padding-right: 28px;
    padding-left: 28px;
}

.logo {
    font-size: 20px;
}

.nav-page {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 4px;
}

.nav-item-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 91px;
        height: 40px;
        border-radius: 8px;
        background-color: rgba(27, 65, 75, 0.5);
        color: #fbfbfb;
        font-size: 9px;
        text-transform: uppercase;
}

.nav-item-link:hover {
    background-color: #1b414b;
}

.header-addres-list {
    display: flex;
    gap: 8px;
        align-items: center;
        justify-content: center;
}

.header-icon {
    fill: #1b414b;
}

.header-icon:hover,
.header-icon:focus {
    fill: #062730;
}

.btn-mobile {
    display: none;
}
}

@media screen and (min-width: 1280px) {
.container-header {
        max-width: 1080px;
        padding-right: 30px;
        padding-left: 30px;
    }

}

@media screen and (min-width: 1440px) {
.container-header {
        max-width: 1240px;
        padding-right: 30px;
        padding-left: 30px;
    }

}




/* #endregion */


/* #region Main */

/* #region Section1 */

.section-first {
background-image: url(/images/image-1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.container {
    position: relative;
        max-width: 375px;
        margin: 0 auto;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 260px 20px 243px 20px;
}

.section-first-title {
    max-width: 335px;
    font-family: var(--font-family);
     font-weight: 500;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        margin: 0 0 20px 0;
}

.section-first-text {
    max-width: 335px;
    font-family: var(--font-family);
        font-weight: 300;
        font-size: 12px;
        line-height: 1.16667;
        text-align: center;
        color: rgba(251, 251, 251, 0.7);
        margin: 0 0 38px 0;
}


.section-first-link {
    display: flex;
        align-items: center;
        justify-content: center;
border-radius: 15px;
    padding: 14px 32px;
    width: 141px;
    height: 46px;
    background-color: #1b414b;
   
        margin-bottom: 0;
        color: #fbfbfb;
        border: none;
        font-family: var(--font-family);
         font-weight: 500;
            font-size: 14px;
            line-height: 1.28571;
            letter-spacing: -0.02em;
}

.section-first-link:hover {
    background-color: #fbfbfb;
    color: #1b414b;
}


@media screen and (min-width: 768px) {
.container {
    max-width: 704px;
    padding: 280px auto 215px auto;
}

.section-first-title {
    max-width: 704px;
    font-size: 70px;
}

.section-first-text {
    max-width: 597px;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 0 48px 0;
}

.section-first-link {
    width: 179px;
        height: 52px;
    padding: 16px 40px;
}
    
}

@media screen and (min-width: 1280px) {
.container {
        max-width: 1001px;
        padding: 235px auto 180px auto;
    }

.section-first-title {
    max-width: 1001px;
    font-size: 80px;
}

.section-first-link {
    width: 179px;
    height: 52px;
    padding: 16px 40px;
}

}


@media screen and (min-width: 1440px) {
.container {
        padding: 239px auto 175px auto;
    }

}


/* #endregion */

/* #region Section2 */

.section-second .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 335px;
    background-color: #fbfbfb;
    border-radius: 24px;
    position: relative;
    padding: 40px 20px 335px 20px;
}

.container-info-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-second-title {
    font-family: var(--font-family);
     font-weight: 500;
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #1b414b;
        margin: 0;
}

.section-second-h3 {
    font-weight: 400;
        font-size: 18px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #1b414b;
        margin: 0;
}

.section-second-text {
font-family: var(--font-family);
     font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}

.section-second-img {
    position: absolute;
    top: 380px;
    max-width: 335px;
}


@media screen and (min-width: 768px) {
    
.section-second .container {
        max-width: 768px;
    }

        .container-info {
            max-width: 704px;
            padding: 50px 136px 244px 32px;
            gap: 50px;
        }

  .section-second-title {
                    font-size: 48px;
                    max-width: 536px;
                }

     .section-second-h3 {
        font-size: 23px;
        max-width: 370px;
     }

      .section-second-text {
font-size: 13px;
line-height: 1.15;
max-width: 385px;
         }
.section-second-img {
    max-width: 704px;
    top: 473px;
}

}


@media screen and (min-width: 1280px) {

    .section-second .container {
            max-width: 1280px;
        }

.container-info {
    flex-direction: row;
    gap: 0;
    max-width: 1180px;
    padding: 50px 50px 415px 50px;
}

 .section-second-title {
     max-width: 537px;
     margin-right: 189px;
 }

  .section-second-h3 {
      max-width: 354px;
  }

  .section-second-text {
    max-width: 354px;
  }

.section-second-img {
    max-width: 1180px;
    top: 360px;
}

}

@media screen and (min-width: 1440px) {

.section-second .container {
        max-width: 1440px;
    }

.container-info {
    max-width: 1340px;
    padding: 50px 50px 438px 50px;
}

 .section-second-title {
     margin-right: 299px;
 }

 .section-second-h3 {
     max-width: 404px;
 }

 .section-second-text {
     max-width: 404px;
 }

 .section-second-img {
     max-width: 1340px;
     top: 338px;
 }

}


/* #endregion */


/* #region Section3 */

/* #endregion */

/* #region Section4 */

/* #endregion */

/* #region Section5 */

/* #endregion */

/* #region Section6 */

/* #endregion */

/* #endregion */


/* #region Footer */

/* #endregion */


/* #region Modal */

/* #endregion */